

/* ==========================================================================
   === 01. TEXTO - 08. Extrair/Remover Entre Caracteres ===
   ========================================================================== */
.flex-column-gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

