

/* ==========================================================================
   10. REMOVER/EXTRAIR ENTRE CARACTERES
   ========================================================================== */
.flex-column-gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

